/* Table component styles */

thead {
  background-color: #1A2238;
}

#sort-icon {
  color: #F4DB7D;
}

#col-image {
  width: 10%;
}

#col-name {
  width: 25%;
}

#col-phone {
  width: 25%;
}

#col-email {
  width: 30%;
}

#col-dob {
  width: 10%;
}
